.~*
Arbeit\ Olaf
English\ Template
LaTeX/header.aux
LaTeX/thesis.aux
LaTeX/thesis.bbl
LaTeX/thesis.blg
LaTeX/thesis.lof
LaTeX/thesis.log
LaTeX/thesis.lot
LaTeX/thesis.out
LaTeX/thesis.pdf
LaTeX/thesis.synctex.gz
LaTeX/thesis.thm
LaTeX/thesis.toc
R/.RData
R/.Rhistory
